/pom.xml
*jar
/lib
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/scratch
/samples/*/scm
target/
.repl
.lein-deps-sum
.lein-repl-history
*.swp
*.zip
*.o*
clojurescript_release_*
closure-release-*
